

$body-bg: #f3f3f3;
$body-color: #111;
$theme-colors: (
  "primary": #28a745
);

@import "node_modules/bootstrap/scss/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Poppins:400,300,700);
 

